<div class="row confirm-email">
    <div class="small-12 columns">
        <a href="/"><img src="/static/img/sleigh.png" class="confirm-email-img"></a>
        <h3 class="title">A confirmation email is sent to you</h3>
        <p class="content">You will shortly receive an confirmation link on <strong>{{email}}</strong>. You will be eligible for the draw only after you confirm your email.</p>
    </div>
</div> <!-- /.confirm-email -->

