<div class="row confirm-email">
    <div class="small-12 columns">
        <a href="/"><img src="/static/img/snowman.png" class="confirm-email-img"></a>
        <h3 class="title">Yay! Your email is confirmed</h3>
        <p class="content">Once the draws are out, we will send you the email with the details of your Santa ;)</p>
    </div>
</div> <!-- /.confirm-email -->

