<div class="row faqs">
    <div class="small-12 medium-10 large-8 medium-centered large-centered columns">
        <a href="/"><img src="/static/img/christmas-hut.png" class="logo"></a>
        <h1 class="title">FAQs</h1>
        <p class="">Santa wants you to read the below points to understand how it should work. It will really be helpful for you :)</p>
        <br>
        <ol>
            <li class="qa-set">
                <p class="q">I got the details of my Santee. What next?</p>
                <p class="a">Awesome! Now you have an opportunity to put a smile on your Santee's face :) Check your Santee's wishlist. Any good?</p>
            </li>
            <li class="qa-set">
                <p class="q">My Santee has very unrealistic(or expensive) wishlist. What do I do?</p>
                <p class="a">That shouldn't stop a good Santa. Maybe time to follow your Santee on twitter or email & find out what he/she likes.</p>
            </li>
            <li class="qa-set">
                <p class="q">What should be the budget of the gift to my Santee?</p>
                <p class="a">A good Santee will never put the value on gifts. You can buy him/her anything which you think will make them happy. Just try not to go full lavish :P</p>
            </li>
            <li class="qa-set">
                <p class="q">My Santee doesn't have twitter handle. How do I know more about him/her?</p>
                <p class="a">Quite possible that your Santee doesn't use Twitter. No worries. You still have his/her email address which is verified(active). You can mail your Santee using anonymous email address & know more about his/her likings :)</p>
            </li>
            <li class="qa-set">
                <p class="q">My Santee haven't disclosed his/her address?</p>
                <p class="a">Your Santee might have privacy concerns. Again, you can directly email them. Just don't spam them</p>
            </li>
            <li class="qa-set">
                <p class="q">What if I don't feel like giving gift to my Santee?</p>
                <p class="a">Would you really want to do that? Just imagine somewhere your Santee has given a gift to his/her Santee & excited to receive the same from you. Would you want to break their heart? But for any reason if you can't then we expect you to send an email to us & your santee informing the same. Failing to do so will get you blacklisted from future secretsantas</p>
            </li>
            <li class="qa-set">
                <p class="q">Will my identity be revealed to my Santee?</p>
                <p class="a">If you want then we can reveal it :) Else you can do the same yourself. But we suggest to keep yourself anonymous till your santee receives the gift. It's more fun that ways :)</p>
            </li>
            <li class="qa-set">
                <p class="q">What does MySanta achieves from this?</p>
                <p class="a">Nothing. Except seeing some happy faces :) We do tie up with some sponsors/partners but that is only for the benefit of the participants. I don't take anything from them. Neither do I share your details with anyone(except your Santa)</p>
            </li>
            <li class="qa-set">
                <p class="q">I have some more questions</p>
                <p class="a">You know where to find me. Not in north pole. But on <a href="https://twitter.com/MySanta_in" target="_blank">@MySanta_in</a> or <a href="mailto:mysantaweb@gmail" target="_blank">mysantaweb@gmail.com</a> :)</p>
            </li>
        </ol>
        <p class="sign-off">This Christmas, let's put a smile on their face :)</p>
    </div>
</div><!-- /.faqs -->