
<div class="row banner">
    <div class="small-12 columns">
        <h1 class="headline">Who will be your Santa this Christmas?</h1>
        <h2 class="subtitle"><span class="count" data-count="{{totalEntries}}"></span> people are already excited to meet their Santa</h2>
    </div>
</div><!-- /.banner -->


<div class="section how-it-works">
    <h3 class="section-title">How it works</h3>
    <div class="row">
        <div class="small-12 medium-6 large-3 columns step">
            <img src="/static/img/card.png" class="step-img">
            <h5 class="step-title">Create wishlist</h5>
            <p class="step-content">Add your details alongwith your wishlist. Be realistic while doing so ;)</p>
        </div>
        <div class="small-12 medium-6 large-3 columns step">
            <img src="/static/img/socks.png" class="step-img">
            <h5 class="step-title">Wait for the draw</h5>
            <p class="step-content">Week before Christmas, we will send you the name of a person to whom you will be their Santa</p>
        </div>
        <div class="small-12 medium-6 large-3 columns step">
            <img src="/static/img/santa.png" class="step-img">
            <h5 class="step-title">Meet your santa</h5>
            <p class="step-content">Everyone will be paired with others & your wishlist will be exchanged</p>
        </div>
        <div class="small-12 medium-6 large-3 columns step">
            <img src="/static/img/toy.png" class="step-img">
            <h5 class="step-title">Send & Receive gifts</h5>
            <p class="step-content">You have been really good. But if your Santa feels the same, then you shall receive your gift :)</p>
        </div>
    </div>
</div> <!-- /.how-it-works -->

<div class="row section">
    <h3 class="section-title">Simply register below</h3>
    <div class="medium-5 large-7 columns add-yourself">
        <form method="post" action="/submit" class="registration-form">
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" name="name" maxlength="120" autocomplete="off" placeholder="Your full name" required class="radius custom-input">
                </div>
                <div class="large-12 columns">
                    <input type="email" name="email" autocomplete="off" placeholder="Your email" required class="radius custom-input">
                </div>
                <div class="large-12 columns">
                    <label class="city-label"><strong>Select City:</strong></label>
                    <label class="city-label"><input type="radio" name="city" value="Mumbai">Mumbai</label>
                    <label class="city-label"><input type="radio" name="city" value="Delhi">Delhi</label>
                    <label class="city-label"><input type="radio" name="city" value="Bangalore">Bangalore</label>
                    <label class="city-label"><input type="radio" name="city" value="Other">Other</label>
                </div>
                <div class="large-12 columns">
                    <textarea name="address" autocomplete="off" placeholder="Address where you would your Santa to deliver your gift" required class="radius custom-input address"></textarea>
                </div>
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix custom-prefix">Wishlist #1</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" name="wishlist[]" maxlength="100" autocomplete="off" placeholder="e.g. Game of thrones book series" required class="custom-input">
                        </div>
                    </div>
                </div>
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix custom-prefix">Wishlist #2</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" name="wishlist[]" maxlength="100" autocomplete="off" placeholder="e.g. Some comic tshirt" class="custom-input">
                        </div>
                    </div>
                </div>
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix custom-prefix">Wishlist #3</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" name="wishlist[]" maxlength="100" autocomplete="off" placeholder="e.g. Hershey's Chocolates" class="custom-input">
                        </div>
                    </div>
                </div>
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-2 columns">
                            <span class="prefix custom-prefix">@</span>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" name="twitter" maxlength="100" autocomplete="off" placeholder="Your twitter handle" class="custom-input">
                        </div>
                    </div>
                </div>
                <p class="error-msg">&nbsp;</p>
                <div class="large-12 columns text-center">
                    <input type="submit" value="Submit" class="button radius submit">
                </div>
            </div>
        </form>
    </div> <!-- /.add-yourself-->
    <div class="medium-5 large-5 columns imp-points">
        <ul class="form-points">
            <li class="list">Santa doesn't like incorrect emails. A confirmation link will be sent to you for verification.</li>
            <li class="list">Only one entry per email. Once submitted, no changes are allowed</li>
            <li class="list">Enter some realistic wishlist. Don't ask for paid trip to Europe or Xbox from Santa :P</li>
            <li class="list">And remember, only a good Santa can be a good Santee ;)</li>
        </ul>
    </div>
</div>

<div class="row section partners">
    <div class="small-12 columns">
        <h3 class="section-title">Shipping Partner</h3>
        <img src="static/img/urdelivery.png" class="partners-img">
        <p class="partners-content"><a href="http://urdelivery.com" target="_blank" class="link">UrDelivery.com</a> has partnered with us & has agreed to provide free shipping of gifts to your Santees in Delhi & Mumbai. Thanks to them for spreading the Christmas cheer :) Tweet us to get more info.</p>
    </div>
</div>

<div class="row section social-share">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns" data-timeout="3000">
        <h3 class="section-title">Share & Tweet</h3>
        <table>
            <tr>
                <td>
                    <a class="fb-share-button" data-href="http://mysanta.in/" data-layout="button_count"></a>
                </td>
                <td>
                    <a class="twitter-share-button" href="https://twitter.com/share" data-text="Add your wishlist for this Christmas & your Santa might fulfill it for you" data-url="http://mysanta.in/" data-count-url="http://mysanta.in/" data-via="MySanta_in" data-hashtags="mysanta"></a>
                </td>
                <td>
                    <g:plusone href="http://mysanta.in/"></g:plusone>
                </td>
            </tr>
        </table>
    </div>
</div>



<div class="footer">
    <small class="sign-off">Built for Christmas 2014</small>
</div>
