<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="MySanta.in - Where everyone has their Santa" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="og_title" property="og:title" content="{{title}}" />
    <meta name="og_site_name" property="og:site_name" content="MySanta"/>
    <meta name="og:image" content="" />
    <meta name="og_url" property="og:url" content="http://mysanta.in" />
    <meta name="og_description" property="og:description" content="Where everyone has their Santa" />
    <link rel="stylesheet" href="/static/css/app.css">
    <title>{{title}}</title>
</head>

<body>
{{{body}}}

<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</body>

</html>