<div class="row confirm-email">
    <div class="small-12 columns">
        <a href="/"><img src="/static/img/fireplace.png" class="confirm-email-img"></a>
        <h3 class="title">Great! You just sit tight :)</h3>
        <p class="content">While I get back to search a suitable Santa & Santee for you</p>
    </div>
</div> <!-- /.confirm-email -->

<div class="row">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns social-share" data-timeout="0">
        <table>
            <tr>
                <td>
                    <a class="fb-share-button" data-href="http://mysanta.in/" data-layout="button_count"></a>
                </td>
                <td>
                    <a class="twitter-share-button" href="https://twitter.com/share" data-text="Add your wishlist for this Christmas & your Santa might fulfill it for you" data-url="http://mysanta.in/" data-count-url="http://mysanta.in/" data-via="MySanta_in" data-hashtags="mysanta"></a>
                </td>
                <td>
                    <g:plusone href="http://mysanta.in/"></g:plusone>
                </td>
            </tr>
        </table>
    </div>
</div>

