<div class="row error-page">
    <div class="small-12 columns">
        <a href="/"><img src="/static/img/santa-moon.png" class="error-page-img"></a>
        <h3 class="title">No such page exists.</h3>
        <p class="content">Nothing was found here. But believe us, our Santa is still searching for it.</p>
    </div>
</div>