<div class="row error-page">
    <div class="small-12 columns">
        <a href="/"><img src="/static/img/santa-chimney.png" class="error-page-img"></a>
        <h3 class="title">Hmm! Something is wrong.</h3>
        <p class="content">Seems like our Santa got stuck somewhere. Dont worry, we are looking into this.</p>
    </div>
</div>