<html>
<head></head>
<body>
    <div class="email_body" style="margin: 0 auto; width: 80%; min-width: 480px;">
        <div class="email_logo" style="padding: 15px; color: #fff; text-align: center; background-color:#CD212A;">
            <a href="{{baseurl}}"><img src="{{baseurl}}/static/img/christmas-hut.png" style="height: 50px;" title="MySanta.in" /></a>
        </div>
        <div class="email_container" style="width: 80%; margin: 30px auto 30px auto;">
            <strong>Hi {{name}},</strong>
            <p>Thanks for registering on MySanta. Now all you have to do is confirm this email address so that after the draws are out, your Santa can contact you :)</p>
            <p><a href="{{confirmLink}}">Click here</a> to confirm your email address.</p>
            <p>Incase of any queries, you can reply to this email. Our santa will get in touch with you.</p>
            <p>
                Thanks,<br>
                MySanta.in
            </p>

        </div>
        <div class="email_footer" style="padding:5px; color: #fff; text-align: center; background-color:#CD212A; ">
        </div>
    </div> <!-- /.email-body -->
</body>
</html>