<html>
<head></head>
<body>
    <div class="email_body" style="margin: 0 auto; width: 80%; min-width: 480px;">
        <div class="email_logo" style="padding: 15px; color: #fff; text-align: center; background-color:#CD212A;">
            <a href="{{baseurl}}"><img src="{{baseurl}}/static/img/christmas-hut.png" style="width: 100px;" title="MySanta.in" /></a>
        </div>
        <div class="email_container" style="width: 80%; margin: 30px auto 30px auto;">
            <strong>Hey {{name}},</strong>
            <p>I know that you are expecting to find the details of your Santee in this email. Nope! you will have to wait for that till early next week :P</p>
            <p>But it has been quite a while since you created your wishlist. And I believe that there is a good chance you might want to change it. Maybe you wanted some cool T-shirt but ended up wishing for something else?</p>
            <p>No worries. You can <strong>update your wishlist</strong> by <a href="{{updateLink}}">clicking here</a>. This is a final chance to also add other details so that your Santa can know you better. Don't miss it :)</p>
            <p>Also if you are a Mumbai/Delhi user then I have some good news. <a href="http://urdelivery.com">UrDelivery.com</a> has collaborated with us & agreed to provide <strong>free shipping</strong> of Santa gifts in Mumbai & Delhi. We thank them for spreading the X'mas joy around :) You can contact me to get more details on it.</p>
            <br>
            <p>
                Have a great evening!<br>
                MySanta.in
            </p>
        </div>
        <div class="email_footer" style="padding:5px; color: #fff; text-align: center; background-color:#CD212A;">
        </div>
    </div> <!-- /.email-body -->
</body>
</html>