//Normalize
@import (inline) '../thirdparty/foundation/css/normalize.css';

// Foundation
@import (inline) '../thirdparty/foundation/css/foundation.css';

/***************************\
        Variables
\***************************/

@banner-red: #CD212A;
@primary-font: 'Varela Round', sans-serif;
@secondary-font: 'Lato', sans-serif;

/***************************\
        Mixins
\***************************/

.fontsize(@value) {
    @pxValue: @value;
    font-size: ~"@{value}px";
}


/***************************\
        Home Page
\***************************/

.banner {
    width: 100%;
    max-width: 100%;
    padding: 75px 0;
    background-color: @banner-red;
    background-image: url('../img/asfalt-light.png');
    background-repeat: repeat;

    .headline {
        margin: 50px auto;
        font-family: @primary-font;
        .fontsize(58);
        color: #fff;
        text-align: center;
    }

    .subtitle {
        margin: 30px auto;
        .fontsize(32);
        color: #fff;
        text-align: center;
    }

    .count {
        .fontsize(42);
    }
}

.section {
    margin-top: 30px;

    &-title {
        .fontsize(36);
        font-family: @primary-font;
        color: @banner-red;
        text-align: center;
    }
}

.how-it-works {
    .step {
        padding: 30px;

        &-img{
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }

        &-title {
            font-family: @primary-font;
            color: @banner-red;
            text-align: center;
        }

        &-content {
            font-family: @secondary-font;
            text-align: center;
        }
    }
}

.add-yourself {
    border-right: 1px solid #ccc;

    .registration-form {
        .custom-input, .custom-prefix {
            height: 40px;
            font-family: @secondary-font;
            .fontsize(18);
            line-height: 40px;
            text-align: center;
        }

        .city-label {
            display: inline;
            padding: 0px 10px;
            font-family: @secondary-font;
            .fontsize(18);
            line-height: 40px;

            input {
                margin-right: 5px;
            }
        }

        .address {
            height: 100px;
        }

        .error-msg {
            color: @banner-red;
            text-align: center;
        }

        .submit {
            font-family: @secondary-font;
            font-weight: bold;
            color: @banner-red;
            text-transform: uppercase;
            background-color: #fff;
            border: 3px solid @banner-red;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;


            &:hover {
                color: #fff;
                background-color: @banner-red;
            }
        }
    }
}


.imp-points {

    .form-points {
        margin-top: 45px;
        list-style-type: square;

        .list {
            margin-bottom: 15px;
            font-family: @secondary-font;
        }
    }
}

.social-share {
    table {
        width: 90%;
        margin: 0 auto;

        td {
            padding: 5px;
            text-align: center;
            vertical-align: center;
        }
    }
}

.footer {
    margin-top: 30px;
    padding: 15px;
    background-color: @banner-red;
    background-image: url('../img/asfalt-light.png');
    background-repeat: repeat;

    .sign-off {
        display: block;
        font-family: @secondary-font;
        .fontsize(12);
        color: #fff;
        text-align: center;
    }
}


/***************************\
        Confirm email
\***************************/

.confirm-email, .error-page {
    margin: 50px auto;
    text-align: center;

    &-img {
        display: block;
        margin: 15px auto;
        width: 200px;
    }

    .title {
        font-family: @primary-font;
        color: @banner-red
    }

    .content {
        font-family: @secondary-font;
    }
}